BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;

#
# Driver Types
#
IOBUF PORT "RST_N"          IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "SCLK"           IO_TYPE=LVCMOS33 ;
IOBUF PORT "SCSN"           IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "MISO"           IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "MOSI"           IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "ERROR"          IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "FIFO_AEMPTY"    IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "FIFO_AFULL"     IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "LED_OUT"        IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "GPO[0]"         IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "GPO[1]"         IO_TYPE=LVCMOS33 PULLMODE=DOWN ;

#
# Pin Locations
#
LOCATE COMP "RST_N"         SITE "13" ;
LOCATE COMP "SCSN"          SITE "14" ;
LOCATE COMP "ERROR"         SITE "5" ;
LOCATE COMP "FIFO_AEMPTY"   SITE "20" ;
LOCATE COMP "FIFO_AFULL"    SITE "21" ;
LOCATE COMP "LED_OUT"       SITE "4" ;
LOCATE COMP "GPO[0]"        SITE "12" ;
LOCATE COMP "GPO[1]"        SITE "11" ;
